version: "3.8"
services:
  oracle-db:
    image: gvenzl/oracle-xe
    container_name: oracle_db
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PASSWORD=mais1e2
      - ORACLE_DISABLE_ASYNCH_IO=true

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - oracle-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl
      - SPRING_DATASOURCE_USERNAME=rm550933
      - SPRING_DATASOURCE_PASSWORD=mais1e2
